modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33411
externalPort = 5173

[[ports]]
localPort = 33999
externalPort = 3001

[[ports]]
localPort = 34013
externalPort = 3003

[[ports]]
localPort = 37175
externalPort = 4200

[[ports]]
localPort = 38743
externalPort = 5000

[[ports]]
localPort = 41559
externalPort = 8008

[[ports]]
localPort = 42391
externalPort = 6000

[[ports]]
localPort = 43311
externalPort = 6800

[[ports]]
localPort = 43997
externalPort = 3002

[[ports]]
localPort = 44719
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
TOTP_SECRET = "4GEISI5JKZKBAV52OMUSF7DBJS4OJIJW"

[agent]
integrations = ["stripe:1.0.0"]
